{% extends "bootstrap.html.twig" %}
{% block body %}

    <div class="container py-3">
        <h1 class="text-center mt-5">Mentions Légales</h1>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos nulla doloribus nobis ipsa laboriosam quos. Repudiandae quia labore iusto dignissimos dicta, ex ipsa rerum sit cumque quod eius itaque? Sit, provident? Et incidunt adipisci nisi porro distinctio. Molestiae harum nostrum unde ipsa minus minima nam ratione provident deserunt neque commodi optio qui magni ipsam, officiis, quisquam facilis a dolorem consequuntur voluptas molestias. Vel recusandae distinctio nesciunt quaerat? Sed totam quasi eaque voluptates iste, in laudantium sit. Eius dicta exercitationem doloremque ab, maiores aliquid nisi dolorem sunt? Voluptatibus fugiat earum accusantium. Autem, iure. Veniam voluptas ipsam in quaerat, cum fugit! Rem velit necessitatibus dolores illo laboriosam animi earum sed commodi eos soluta dolor tempore dolorum eveniet deleniti voluptatem, porro accusamus adipisci culpa. Animi, magnam maiores. Ratione non iusto, dolore quos ipsa nemo rerum dolorem rem et maxime voluptatibus. Cupiditate deserunt voluptate quo excepturi voluptatem corporis nam illo facilis minus, dolorem facere dolorum, earum qui mollitia rerum dignissimos ducimus laborum et, ea velit. Illum perspiciatis obcaecati iure ipsum ab numquam aliquid accusantium molestias, cupiditate tempora accusamus, voluptates placeat dolorem repellat alias aperiam exercitationem, repudiandae esse repellendus et fugiat non recusandae magni incidunt! Maiores doloremque reprehenderit quis.</p>
    </div>

{% endblock %}